:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ? Import tailwind */
@import "tailwindcss";
/* @plugin "daisyui" {
  themes: light --default, dark --prefersdark, all;
} */
@plugin "daisyui" {
  themes: all;
}
/*? Creating a custom theme */
@plugin "daisyui/theme" {
  name: "CustomTheme";
  default: true;
  prefersdark: false; 
  color-scheme: light;
  --color-primary: blue;
  --color-secondary: purple;
  --color-accent: red;
}