#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:2em;
}

.btn-primary{
  background-color: pink !important;
  border-color: teal !important;
}

